@model IEnumerable<Oven.Models.HeatingBatch>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">
        <!-- <img src="~/Images/logo_Infineon.png" style="margin:10px 10px;"/>-->
    </div>
    <div class="col-md-6">
        <h2 id="judul">Chart History</h2>
    </div>
    <div class="col-md-3" style="text-align:right; padding-top:20px;">
        <p>
            @DateTime.Now.DayOfWeek, @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <table class="table table-history">
            <tr>
                <td>Start Date</td>
                <td>
                    <input type="text" id="txtstartDate">
                </td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>
                    <input type="text" id="txtendDate">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-history">
            <tr>
                <td>Oven ID</td>
                <td>
                    <input type="text" id="inp-ovenID">
                </td>
            </tr>
            <tr>
                <td>Batch ID</td>
                <td>
                    <input type="text" id="inp-batchID">
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-history">
            <tr>
                <td>Lot Number</td>
                <td>
                    <input type="text" id="inp-lot">
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btn-reset" class="btn btn-default" style="width:130px;"><span class="glyphicon glyphicon-trash"></span> Reset Form</button>
                </td>
                <td>
                    <button id="btn-search" class="btn btn-primary" style="width:180px;"><span class="glyphicon glyphicon-search"></span> Search</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="cariGrid" class="row">
    <div class="col-md-12">
        <table id="tblHasilSearchLot" class="table table-bordered" style="display:none;">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Batch ID</td>
                    <td>Oven ID</td>
                    <td>Device</td>
                    <td>Package</td>
                    <td>Lot Number</td>
                    <td>Qty</td>
                    <td>Chart</td>
                </tr>
            </thead>
            <tbody>
        </table>
        <table id="tblHasilSearch" class="table table-bordered" style="display:none;">
            <thead>
                <tr>
                    <td>No.</td>
                    <td>Batch ID</td>
                    <td>Oven ID</td>
                    <td>Status</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Chart</td>
                </tr>
            </thead>
            <tbody>
        </table>
        <p id="pError" style="display:none; color:red;"></p>
    </div>
</div>
<div id="cariSingle" class="row">
    <div class="col-md-12" style="text-align:center;">
        <div id="chartdiv" style="height:550px; margin:15px auto;"></div>
        <button type="button" class="btn btn-primary button-back"><span class="glyphicon glyphicon-chevron-left"></span> BACK</button>
    </div>
</div>

<hr />

<style type="text/css">
    .table-history td{
        border: none !important;
    }
    .ui-datepicker-trigger{
        border:none !important;
        background:#fff !important;
    }
    .rowBatchID:hover{
        background:#d4e8ea;
        color:#fff;
        cursor:pointer;
    }
</style>

@section Scripts{
    <script type="text/javascript" language="javascript">
        var start_th, start_mn, start_dt = "";
        var end_th, end_mn, end_dt = "";
        var dataTableSearch;
        var dataTableSearchLot;

        $(document).ready(function() {

            $('#cariSingle').hide();
            $('#cariGrid').hide();
            $('#txtstartDate').datepicker({
                timepicker: false,
                formatDate: 'Y/m/d',
                minDate: '-1970/01/02', //yesterday is minimum date(for today use 0 or -1970/01/01)
                maxDate: '+1970/01/02' //tommorow is maximum date calendar

            });
            $('#txtendDate').datepicker({
                timepicker: false,
                format: 'Y md',
                numberOfMonths: 1

            });

            $('#btn-reset').click(function() {
                var _startDate = "";
                var _endDate = "";
                var _batchID = 0;
                var _ovenID = "";
                var _lotnum = "";
                $('#cariSingle').hide();
            });
            $('.button-back').click(function() {
                $('#cariSingle').hide();
                $('#cariGrid').show();
            });

            $('#btn-search').click(function() {
                var _startDate = "";
                var _endDate = "";
                var _batchID = 0;
                var _ovenID = "";
                var _lotnum = "";

                $("#pError").text("");
                $("#pError").hide();
                $('#cariSingle').hide();
                $('#cariGrid').show();
                _lotnum = $("#inp-lot").val();
                if (_lotnum != "") {
                    $('#tblHasilSearch_wrapper').hide();
                    _startDate = "";
                    _endDate = "";
                    _batchID = 0;
                    _ovenID = "";

                    //general search
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetLot", "BatchLOTs")',
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        data: {
                            lotNumber: _lotnum,
                            startDate: $("#txtstartDate").val(),
                            endDate: $("#txtendDate").val(),
                            batchid: $("#inp-batchID").val() === "" ? '0' : $("#inp-batchID").val(),
                            ovenid: $("#inp-ovenID").val()
                        },
                        dataType: "json",
                        success: function(hasil) {
                            //console.log(hasil);
                            var arr = hasil;


                            if (arr.length < 1) {
                                $("#pError").show();
                                $("#pError").text("Maaf, data Lot Number # " + _lotnum + " tidak ada di database...!");
                            } else {
                                $('#tblHasilSearchLot_wrapper').show();
                                $('#tblHasilSearchLot').show();
                                // $('#tblHasilSearchLot tbody tr').remove();

                                if ($.fn.DataTable.isDataTable('#tblHasilSearchLot')) {
                                    dataTableSearchLot.fnClearTable('#tblHasilSearchLot');
                                }
                                for (var i = 0; i < arr.length; i++) {
                                    if ($.fn.DataTable.isDataTable('#tblHasilSearchLot')) {

                                        var tombol = buildButton(arr[i].BatchID, arr[i].OvenID) + '</td></tr>';
                                        var index = dataTableSearchLot.fnAddData([(i + 1), arr[i].OvenID, arr[i].h.batchid, arr[i].h.device, arr[i].h.package, arr[i].h.lotnumber, arr[i].h.qty, tombol]);

                                    } else {
                                        $('#tblHasilSearchLot').append('<tr><td>'
                                            + (i + 1) + '</td><td>'
                                            + arr[i].h.batchid + '</td><td>'
                                            + arr[i].OvenID + '</td><td>'
                                            + arr[i].h.device + '</td><td>'
                                            + arr[i].h.package + '</td><td>'
                                            + arr[i].h.lotnumber + '</td><td>'
                                            + arr[i].h.qty + '</td><td>'
                                            + buildButton(arr[i].BatchID,arr[i].OvenID)+'</td></tr>');
                                    }
                                };

                                if (!$.fn.DataTable.isDataTable('#tblHasilSearchLot')) {

                                    $('#tblHasilSearchLot').addClass('table-striped');
                                    $('#tblHasilSearchLot').addClass('table-condensed');
                                    dataTableSearchLot = $('#tblHasilSearchLot').dataTable();
                                }
                                btnSingle();
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
                } else {

                    //general search
                    $('#tblHasilSearchLot_wrapper').hide();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetHeatingBatches", "HeatingBatches")',
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        data: {
                            startDate: $("#txtstartDate").val(),
                            endDate: $("#txtendDate").val(),
                            batchid: $("#inp-batchID").val() === "" ? '0' : $("#inp-batchID").val(),
                            ovenid: $("#inp-ovenID").val()
                        },
                        dataType: "json",
                        success: function(hasil) {
                            var arr = hasil;

                            //for (var y in hasil) {
                            //    arr.push(hasil[y]);
                            // }
                            if (arr.length < 1001) {
                                $('#tblHasilSearch_wrapper').show();
                                $('#tblHasilSearch').show();
                                $('#tblHasilSearch tbody tr').remove();

                                if ($.fn.DataTable.isDataTable('#tblHasilSearch')) {

                                    dataTableSearch.fnClearTable('#tblHasilSearch');
                                }

                                for (var i = 0; i < arr.length; i++) {
                                    if ($.fn.DataTable.isDataTable('#tblHasilSearch')) {
                                        var start = formatJSONDate(arr[i].StartDate);
                                        var end = formatJSONDate(arr[i].EndDate);
                                        var tombol = buildButton(arr[i].BatchID, arr[i].OvenID) + '</td></tr>';
                                        var index = dataTableSearch.fnAddData([(i + 1), arr[i].BatchID, arr[i].OvenID, arr[i].Status, start, end, tombol]);

                                    } else {
                                        $('#tblHasilSearch').append('<tr><td>'
                                            + (i + 1) + '</td><td>'
                                            + arr[i].BatchID + '</td><td>'
                                            + arr[i].OvenID + '</td><td>'
                                            + arr[i].Status + '</td><td>'
                                            + formatJSONDate(arr[i].StartDate) + '</td><td>'
                                            + formatJSONDate(arr[i].EndDate) + '</td><td>'
                                            + buildButton(arr[i].BatchID,arr[i].OvenID)+'</td></tr>');
                                    }
                                };

                                if (!$.fn.DataTable.isDataTable('#tblHasilSearch')) {

                                    $('#tblHasilSearch').addClass('table-striped');
                                    $('#tblHasilSearch').addClass('table-condensed');
                                }

                                btnSingle();

                                dataTableSearch = $('#tblHasilSearch').dataTable();


                            } else {
                                $("#pError").show();
                                $("#pError").text("Jumlah data hasil pencarian melebihi 1.000 record !, mohon dipersempit filternya dengan rentang waktu (tanggal) atau nomor Oven");
                            };
                        },
                        error: function(xhr, status, error) {
                            console.log(error);
                        }
                    });
                };
            });

            function btnSingle() {


                $('.btnSingle').click(function() {
                    $('#cariGrid').hide();
                    $('#cariSingle').show();
                    var x = $(this).attr("data");
                    x = x.split('_');

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetBatchTemperature", "BatchTemperatures")',
                        contentType: "application/json; charset=utf-8",
                        data: { "batchID": x[0] },
                        dataType: "json",
                        success: function(hasil) {
                            var obj = hasil.data;
                            var arr2 = [];

                            for (var i = 0; i < obj.length; i++) {
                                arr2.push([obj[i].FetchTime / 60, obj[i].Temperature]); //FetchTime = detik, dibagi 60 supaya jadi menit dan dibulatkan (roun-up)
                            };

                            //console.log(arr2);

                            var xmin = 0;
                            var xmax = 450;
                            var ymax = 200;

                            var arr = [];
                            var ucl = [];
                            var lcl = [];
                            var tgt = [];

                            //hardcode ucl, lcl dan target
                            ucl = [[xmin - 5, 130], [xmax + 5, 130]];
                            lcl = [[xmin - 5, 120], [xmax + 5, 120]];
                            tgt = [[xmin - 5, 125], [xmax + 5, 125]];

                            //label/legend series
                            var seriesLabel = ['UCL', 'Target', 'LCL', 'Actual'];
                            var plot1 = $.jqplot('chartdiv', [ucl, tgt, lcl, arr2], {
                                seriesColors: ["#ff0000", "#6699cc", "#cc00cc", "#66cc66", "#839557"],

                                axesDefaults: {
                                    labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                                    tickInterval: 10,
                                    showTickMarks: false,
                                    tickOptions: {
                                        formatString: '%d'
                                    },
                                    labelOptions: {
                                        fontFamily: 'Georgia, Serif',
                                        fontSize: '8pt',
                                        color: '#fff'
                                    }
                                },
                                axes: {
                                    xaxis: { min: xmin, max: xmax, label: 'Time (Minutes)' },
                                    yaxis: { min: xmin, max: ymax, label: 'Temperature(C)', tickInterval: 10 }
                                },
                                seriesDefaults: {
                                    shadow: false,
                                    trendline: { show: true, color: '#006600', label: '', type: 'exp', lineWidth: 1.5 },
                                    markerOptions: { show: false, style: 'filledCircle', lineWidth: 1, size: 1, color: '#336699' },
                                },
                                grid: {
                                    drawGridLines: true,
                                    gridLineColor: '#ccc',
                                    background: '#fff',
                                    borderColor: '#fff',
                                    borderWidth: 1.0,
                                    renderer: $.jqplot.CanvasGridRenderer
                                },
                                legend: {
                                    show: true,
                                    location: 'e',
                                    labels: seriesLabel
                                },
                                highlighter: { show: true, sizeAdjust: 7.5 },
                                cursor: { show: true, zoom: true, showTooltip: true }
                            });
                            plot1.replot();

                            //buat judul chart
                            $("#judul").text("Oven "+x[1] +" BatchID : " + x[0]);
                            //tampilkan tombol reset zoom
                            plot1.replot();
                        },
                        error: function() { alert('Error generate chart..!'); }
                    }); //End create chart*/
                });
            }

            function formatJSONDate(jsonDate) {
                if (jsonDate != null) {
                    var d = new Date(parseInt(jsonDate.substr(6)));
                    var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

                    var date = d.getDate() + " " + month[d.getMonth()] + ", " + d.getFullYear();
                    var time = d.toLocaleTimeString().toLowerCase();
                    var displayDate = date + " " + time;
                    return displayDate;
                }
                return "";
            }
            function buildButton(batchid,oven) {

                return ' <span class="btn btn-primary btnSingle" data="' + batchid+'_'+oven + '">View Chart</span>';
            }
        });

    </script>
}
