@model Oven.Models.OvenDB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OvenDB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OvenGraphSetting.upper_limit_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvenGraphSetting.upper_limit_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvenPattern.OvenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvenPattern.OvenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeatingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeatingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetPoint1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetPoint1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetPoint2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetPoint2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interval1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interval1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interval2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interval2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interval3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interval3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalHeatTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalHeatTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tolerance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tolerance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbeIPAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbeIPAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbeUDPPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbeUDPPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlarmIPAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlarmIPAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlarmUDPPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlarmUDPPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRunning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRunning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastalarm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastalarm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alarm_main)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alarm_main)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blinkalarm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blinkalarm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alarmautofixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alarmautofixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alarmFetchStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alarmFetchStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentBatchStep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentBatchStep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OvenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
